# Questions 1 - List and its default functions

In [246]:
# In Python, you can use a list function which creates a collection
# that can be manipulated for your analysis. This collection of data
# is called a list object.
# While all methods are functions in Python, not all functions are methods.
# There is a key difference between functions and methods in Python.
# Functions take objects as inputs. Methods in contrast act on objects.

In [247]:
# Sample List Code:
lst = ["suresh", "pravin", "vicky", "yoga", "surya"]
print(lst)

['suresh', 'pravin', 'vicky', 'yoga', 'surya']

In [248]:
# type(): It returns the class type of an object.
print(type(lst))

<class 'list'>

In [249]:
# append(): Adds a single element to a list.
lst.append("selvam")
print(lst)

['suresh', 'pravin', 'vicky', 'yoga', 'surya', 'selvam']

In [250]:
# extend(): Adds multiple elements to a list.
lst.extend(["vijay", "ajith"])
print(lst)

['suresh', 'pravin', 'vicky', 'yoga', 'surya', 'selvam', 'vijay', 'ajith']

In [251]:
# remove(): Removes the first item from the list.
lst.remove("ajith")
print(lst)

['suresh', 'pravin', 'vicky', 'yoga', 'surya', 'selvam', 'vijay']

In [252]:
# count(): It returns the number of items the  specified element in the list.
lst_1 = lst.count('vijay')
print(lst_1)

1

In [253]:
# sort(): Sorts the list in ascending order.
lst.sort()
print(lst)

['pravin', 'selvam', 'suresh', 'surya', 'vicky', 'vijay', 'yoga']

In [254]:
# len(): It gives the total length of the list.
print(len(lst))

7

# Questions 2 - Dictionary and its default functions.

In [255]:
# In Python, a Dictionary can be created by placing sequence of elements
# within curly {} braces, separated by ‘comma’. Dictionary holds a 
# pair of values, one being the Key and the other corresponding pair 
# element being its Key:value. Values in a dictionary can be of any 
# datatype and can be duplicated, whereas keys can’t be repeated and 
# must be immutable.

In [256]:
# Sample Code:
dict = {'name':'Vijay', 'age': '21', 'address': 'Chennai'} 
print(dict)

{'name': 'Vijay', 'age': '21', 'address': 'Chennai'}

In [257]:
# type(): It returns the class type of an object.
print(type(dict))

<class 'dict'>

In [258]:
# popitem(): Removes a particular item in a ditionary.
dict.popitem()
print(dict)

{'name': 'Vijay', 'age': '21'}

In [259]:
# items(): Return a new object of the dictionary's items in (key, value) format.
dict.items()
print(dict)

{'name': 'Vijay', 'age': '21'}

In [260]:
# keys(): Returns a new object of the dictionary's key.
dict.keys()
print(dict)

{'name': 'Vijay', 'age': '21'}

In [261]:
# values(): Returns a new object of the dictionary's values.
dict.values()
print(dict)

{'name': 'Vijay', 'age': '21'}

In [262]:
dict.update({"DOB":"22-06-1974"})
print(dict)

{'name': 'Vijay', 'age': '21', 'DOB': '22-06-1974'}

In [263]:
# clear(): Removes all items from the dictionary.
dict.clear()
print(dict)

{}

# Questions 3 - Sets and its default functions.

In [264]:
# A set is an unordered collection of items. Every set element
# is unique (no duplicates) and must be immutable (cannot be changed).
# However, a set itself is mutable. We can add or remove items from it.

In [265]:
# Sample Code:
this = {11,34,65,23,65,35}
print(this)

{65, 34, 35, 11, 23}

In [266]:
# type(): It returns the class type of an object.
print(type(this))

<class 'set'>

In [267]:
# add(): Adds an element to the set.
this.add(22)
print(this)

{65, 34, 35, 11, 22, 23}

In [268]:
# copy(): Returns a copy of the set.
abc = this.copy()
print(abc)

{65, 34, 35, 22, 23, 11}

In [269]:
# difference(): Returns the different of two or more sets as a new set.
xyz = {22,34,65,23}
z = abc.difference(xyz)
print(z)

{11, 35}

In [270]:
# union(): Returns the union of sets in a new set.
a = abc.union(xyz)
print(a)

{65, 34, 35, 11, 22, 23}

In [271]:
# clear(): Removes all the elements from the set.
this.clear()
print(this)

set()

# Questions 4 - Tuple and explore default methods.

In [272]:
# Similar to Python lists, tuples are another standard data type that allows
# you to store values in a sequence.
#A tuple is a collection which is ordered and unchangeable.
# Tuples are initialized with () brackets rather than [] brackets as with lists.

In [273]:
# Sample Code:
tup = (11,34,65,23,65,35)
print(tup)

(11, 34, 65, 23, 65, 35)

In [274]:
# type(): It returns the class type of an object.
print(type(tup))

<class 'tuple'>

In [275]:
# len(): It returns the length of the tuples.
print(len(tup))

6

In [276]:
# count(): Returns the number of times a specified value occurs in a tuple
a = tup.count(65)
print(a)

2

In [277]:
# index(): Searches the tuple for a specified value and returns the position of where it was found
a = tup.index(34)
print(a)

1

In [278]:
# min(): It returns the minimum value from the tuples.
print(min(tup))

11

In [279]:
# max(): It returns the maximum value from the tuples.
print(max(tup))

65

# Questions 5 - Strings and explore default methods.

In [280]:
# A string in Python is a sequence of characters.
# It is a derived data type.
# Strings are immutable.
# This means that once defined, they cannot be changed.

In [281]:
# Sample Code:
str = "hello"
print(str)

hello

In [282]:
# type(): It returns the class type of an object.
print(type(str))

<class 'str'>

In [283]:
# capatalize(): Converts the first character o upper case.
x = str.capitalize()
print (x)

Hello

In [284]:
# Casefold(): Converts string into lower case.
x = str.casefold()
print (x)

hello

In [285]:
# center(): Returns a centered string.
x = str.center(5)
print (x)

hello

In [286]:
# count(): Returns the number of times a specified value occurs in a string.
x = str.count("l")
print (x)

2

In [287]:
# encode(): Returns an encode version of the string.
x = str.encode()
print (x)

b'hello'